<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FlexiMob -->
      <package
            uri="http://autron.hyundai.com/mobilgene/fmob"
            class="FlexiMob.FlexiMobPackage"
            genModel="model/FlexiMob.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FlexiMob -->
      <package
            uri="http://autron.hyundai.com/mobilgene/fmob/view"
            class="FlexiMobView.FlexiMobViewPackage"
            genModel="model/FlexiMob.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FlexiMob -->
      <package
            uri="http://autron.hyundai.com/mobilgene/fmob/control"
            class="FlexiMobControl.FlexiMobControlPackage"
            genModel="model/FlexiMob.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FlexiMob -->
      <package
            uri="http://autron.hyundai.com/mobilgene/fmob/res"
            class="FlexiMobResource.FlexiMobResourcePackage"
            genModel="model/FlexiMob.genmodel"/>
   </extension>

</plugin>
